#sp {
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 2px ;
    border-radius: 25px;
    background-color: rgb(255, 251, 230);
    box-shadow: 0 0 10px rgb(190, 185, 185);
    font-family: 'Times New Roman', Times, serif;
    position: relative; 
    z-index: 10;        
    pointer-events: auto; 
    -webkit-user-select: text; 
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    
}

.commentbox {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;    
    min-height: 150px; 
    height: auto;
    box-sizing: border-box;
    clear: both; 
}

        @media (max-width: 480px) {
            .commentbox {
                min-height: 100px;
            }
        }

        body {
            background-color: tan;
        }
        .main {
            font-size: 20px;
            margin: 20px;
            display: block;
            text-align: center;
            background-color: rgb(253, 254, 255);
        }

        .tenor-gif-embed {
            width: 400px;
            height: 280px;
            text-align: left; 
            margin-left: 0;
            margin-bottom: 30px;
            
        }

            .images-row {
                display: flex;
                justify-content: space-between; 
                align-items: flex-start;
                gap: 20px;
                max-width: 1000px;
                margin: 50px auto 0; 
                padding: 0 10px;
                box-sizing: border-box;
            }

            .images-row img {
                width: 48%;        
                max-width: 400px;  
                height: auto;      
                display: block;
            }

          
            @media (max-width: 700px) {
                .images-row {
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    margin-top: 30px;
                }
                .images-row img {
                    width: 100%;
                    max-width: 360px;
                }
            }